# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env # Penting: ini mengabaikan file .env Anda!
.venv/
build/
dist/
*.egg-info/
.pytest_cache/
.coverage
.ipynb_checkpoints/ # Untuk pengguna Jupyter Notebook

# Editor
.vscode/ # Mengabaikan folder konfigurasi VS Code lokal
.idea/ # Untuk pengguna PyCharm/IntelliJ
*.swp
*.bak
*.swo

# Log dan Database
*.log
*.sqlite3
*.db

# OS
.DS_Store # macOS
Thumbs.db # Windows
